
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aquamarine;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #ffffff;
}

#intro-video {
    position: relative;
    width: 100vw;
    height: 100vh;  
    overflow: hidden;
    display: flex;
    padding: 0%;
    margin: 0;
}

#video-intro {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.video-overlay h1 {
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
}

.video-overlay p {
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
nav {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #000; 
    padding: 15px 0; 
    font-family: sans-serif;
}

nav a {
    display: inline-block;
    color: #fff;
    font-size: 18px; 
    margin: 0 15px; 
    padding: 10px 15px; 
    text-decoration: none;
    transition: 0.4s all ease; 
    position: relative;
}

nav a:hover {
    color: #00d9ff; 
    transition: 0.4s all ease;  
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: aqua; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


section {
    padding: 50px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 50px;
    margin: 0%;
    
}

section h1, section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffffff;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

footer a {
    color: #FF6347;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .icon {
    position: relative;
    font-size: 50px;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 20px;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  
  .icon:hover {
    background: var(--color);
    box-shadow: 0 0 5px var(--color),
                0 0 25px var(--color),
                0 0 50px var(--color),
                0 0 200px var(--color);
  }
  
  .icon i {
    display: block;
    line-height: 1;
  }
